<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if file or directory physically exists
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other URLs to index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
